@page { 
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;}

body {
  font-family: "Times New Roman", Georgia, Serif;
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
  text-align:justify;
  text-decoration: none;
}

/*PAGINACE a PARAGRAPHS*/
.font_footer
{
  float:left;
  margin:0 1em 0 0;
  }
  
.block_2
{
  float:left;
  margin:0 1em 0 0;
}  
  
  

.second {
  text-indent: 2em;
  margin: 0;
  padding: 0;
}

.block_3
{
text-indent: 2em;
  margin: 0;
  padding: 0;
  
}


.noteref {
  text-decoration: none;
  color: blue;
}

a {
  text-decoration: none;
  color: blue;
}

/*content*/
/*content fonts normal and cursiva*/

.font6 {
  font-style: italic; 
}

/*nadpisy*/
.font8 {
  font-size: 18pt;
}
/*font9 -> H2*/
/*nadpis v poznamkach*/
.nadpis
{
	color:blue;
	font-size:large;
	}

.font12 {
font-size: 12pt;
}

/*SUP*/
.font7 {
  font-size: 10pt;
  font-style: normal;
}


.font11 {
  font-size: 10pt;
  font-style: italic;
}


/*Prvni kap*/
.text_1 {
  letter-spacing: 2.5pt;
  vertical-align: 0;
}

.text_2 {
  font-style: italic;
  letter-spacing: 0;
  vertical-align: 0;
}



